<h1>Nouvelle Archivage du Projet</h1>

<%= render 'form', archive_project: @archive_project %>
<div class="form-actions">
  <%= link_to 'Retour', archive_projects_path , class: "btn btn-primary" %>
</div>
