


<h1>Editing Archive Entry Courier</h1>

<%= render 'form', archive_courier: @archive_entry_courier%>

<div class="form-action">
  <%= link_to 'Show', @archive_entry_courier, class: "btn btn-info" %>
  <%= link_to 'Back', archive_entry_couriers_path, class: "btn btn-primary" %>
</div>
