<h1>Nouvelle Archive du  Courrier entrant</h1>

<%= render 'form', archive_entry_courier: @archive_entry_courier %>

<div class="form-actions">
  <%= link_to 'Back', archive_entry_couriers_path, class: "btn btn-primary" %>
</div>
