<h1>Modification Courrier Entrant</h1>

<%= render 'form', entry_courier: @entry_courier %>



<div class="form-actions">
  <%= link_to 'Voir', @entry_courier, class: "btn btn-info" %>
  <%= link_to 'Retour', entry_couriers_path, class: "btn btn-primary" %>
</div>
