<h1>Editing Entry Courier</h1>

<%= render 'form', entry_courier: @entry_courier %>



<div class="form-actions">
  <%= link_to 'Show', @entry_courier, class: "btn btn-info" %>
  <%= link_to 'Back', entry_couriers_path, class: "btn btn-primary" %>
</div>
