<h1>Modification Archive Courrier Sortant</h1>

<%= render 'form', archive_release_courier: @archive_release_courier %>

<%= link_to 'Voir', @archive_release_courier %> |
<%= link_to 'Retour', archive_release_couriers_path %>
