<h1>Nouvelle Archivage d'un Courrier Sortant</h1>

<%= render 'form', archive_release_courier: @archive_release_courier %>

<div class="form-actions">
  <%= link_to 'Retour', archive_release_couriers_path, class: "btn btn-primary" %>
</div>
