<h1>Modification du Courrier Sortant</h1>

<%= render 'form', release_courier: @release_courier %>

<div class="form-actions">
  <%= link_to 'Voir', @release_courier, class: "btn btn-info" %>
  <%= link_to 'Retour', release_couriers_path, class: "btn btn-primary" %>
</div>
