<h1>Nouveau Courrier Sortant</h1>

<%= render 'form', release_courier: @release_courier %>
<div class="form-actions">
  <%= link_to 'Retour', release_couriers_path,class: "btn btn-primary" %>
</div>

