
<h1>Editing Project</h1>

<%= render 'form', project: @project %>

<div class="form-actions">
  <%= link_to 'Show', @project, class: "btn btn-info" %>
  <%= link_to 'Back', projects_path, class: "btn btn-primary" %>
</div>
