
<h1>Edition d'un Projet</h1>

<%= render 'form', project: @project %>

<div class="form-actions">
  <%= link_to 'Voir', @project, class: "btn btn-info" %>
  <%= link_to 'Retour', projects_path, class: "btn btn-primary" %>
</div>
