<h1>Editing Project Phase</h1>

<%= render 'form', project_phase: @project_phase %>


<div class="form-actions">
  <%= link_to 'Show', @project_phase, class: "btn btn-info" %>
  <%= link_to 'Back', project_phases_path, class: "btn btn-primary" %>
</div>
