<h1>Modification d'une Phase du Project</h1>

<%= render 'form', project_phase: @project_phase %>


<div class="form-actions">
  <%= link_to 'Voir', @project_phase, class: "btn btn-info" %>
  <%= link_to 'Retour', project_phases_path, class: "btn btn-primary" %>
</div>
