<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="tagline">Bienvenue Sur Mon gestionnaire du suivi de Projet, courrier et d'archivage</h1>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <hr>

  <div class="row">
    <div class="col-sm-8">
      <h2>What We Do</h2>
      <p>Introduce the visitor to the business using clear, informative text. Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.</p>
      <p>
        <%= link_to "Connectez-vous ", new_user_session_path, class: "btn btn-primary btn-lg"  %>
      </p>
    </div>
    <div class="col-sm-4">
      <h2>Nos Contacts</h2>
      <address>
        <strong>CARPA</strong>
        <br>BP 33745 Yaoundé-Cameroun
        <br>
      </address>
      <address>
        <abbr title="Phone">P:</abbr>(237)222 21 81 07 fax:(237)222 20 79 85
        <br>
        <abbr title="site web">E:</abbr> <a href="web:#">www.ppp-cameroun.cm</a>
        <br>
        <abbr title="Email">E:</abbr> <a href="mailto:#">info@ppp-cameroun.cm</a>
      </address>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <div class="row">
    <div class="col-sm-4">
      <img class="img-circle img-responsive img-center" src="assets/projet-carpa2.png" alt="projet">
      <h2>Projet</h2>
      <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
    </div>
    <div class="col-sm-4">
      <img class="img-circle img-responsive img-center" src="assets/cour.png"alt="courrier">
      <h2>Courrier</h2>
      <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
    <div class="col-sm-4">
      <img class="img-circle img-responsive img-center" src="assets/archive-icon.png" alt="courrier">
      <h2>Archive</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; CARPA 2018</p>
      </div>
    </div>
    <!-- /.row -->
  </footer>

</div>
<!-- /.container -->